@model Trainers

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="margin-top:80px;">
    <h3><b>@ViewContext.RouteData.Values["controller"].ToString()</b> - @ViewContext.RouteData.Values["action"].ToString()</h3>
    <hr />

    <div class="row">
      
            <dl class="col-12">
              
                 <dd calss="col-lg-2"><picture>
                            @if (Model.DataFile != null)
                            {

                                @*<img src="data:image/jpg;base64,@(Convert.ToBase64String(Model.DataFile))" alt="@Model.Name"  style="width:200px;height:200px" class="img-thumbnail" />*@
                                <img src="@Url.Action("GetImage", "Trainers", new { id = Model.Id })" alt="@Model.Name" style="height: 200px;" class="img-thumbnail" />
                            }
                 </picture></dd>
                
                <dt class="col-lg-2"> @Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-lg-10">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Specialization)</dt>
                <dd class="col-sm-6"><p>@Model.Specialization</p>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.RegDate)</dt>
                <dd class="col-sm-6"><p>@Model.RegDate.ToShortDateString()</p>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-6"><p>@Model.Email</p></dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.Facebook)</dt>
                <dd class="col-sm-6"><p>@Model.Facebook</p></dd>

                <dt class="col-sm-6">@Html.DisplayNameFor(model => model.CreatedDate)</dt>
                <dd class="col-sm-6"><p>@Model.CreatedDate</p></dd>

                @if (Model.ModifiedDate != null)
                {
                    <dt class="col-sm-6">@Html.DisplayNameFor(model => model.ModifiedDate)</dt>
                    <dd class="col-sm-6"><p>@Model.ModifiedDate</p></dd>
                }
                <hr/>
                <dd style="margin-top:20px">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Index" >Back to List</a>
                </dd>
            </dl>

   
    </div>
</div>


